[submodule "examples/blueprint-examples"]
	path = examples/blueprint-examples
	url = https://github.com/cloudify-community/blueprint-examples.git
[submodule "cloudify_ansible/ansible-cloudify-ctx"]
	path = cloudify_ansible/ansible-cloudify-ctx
	url = https://github.com/cloudify-cosmo/ansible-cloudify-ctx.git
